.button {
	background-color: var(--gray-200);
	border-color: var(--gray-500);
	border-radius: 4px;
	border-style: none;
	border-width: 0px;
	color: var(--gray-900);
	cursor: pointer;
	display: inline-block;
	font-family: sans-serif;
	font-size: var(--default-font-size);
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: normal;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	word-spacing: 0px;
}

.button:is(:hover, :focus) {
	background-color: var(--gray-300);
	border-color: var(--gray-600);
}

.button:active {
	background-color: var(--gray-400);
	border-color: var(--gray-700);
}
