.button {
	background-color: var(--blue-200);
	border-color: var(--blue-500);
	border-radius: 4px;
	border-style: none;
	border-width: 0px;
	color: var(--blue-900);
	cursor: pointer;
	display: inline-block;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: normal;
	line-height: normal;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: normal;
	word-spacing: 0px;
}

.button:is(:hover, :focus) {
	background-color: var(--blue-300);
	border-color: var(--blue-600);
}

.button:active {
	background-color: var(--blue-400);
	border-color: var(--blue-700);
}
